@font-face {
    font-family: 'Nunito';
    src:url(https://static.igem.wiki/teams/5439/fonts/nunito-variablefont-wght.ttf);
  }

.main-container {
    width: 100%;
    max-width: none;
}

#header-container {
    background-image: url('https://static.igem.wiki/teams/4594/wiki/imp-static/desc-image1.png');
    height: 600px;
}

#header-title {
    font-family: Verdana, Arial, sans-serif;
    font-size: 6.5em;
}

#menu-container {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    padding-left: 20px;
}

#menu-container a {
    text-decoration: none;
    color: rgb(20, 20, 20);
}

#menu-container a:hover {
    text-decoration: none;
    color: #7975d0;
}

#titles-container {
    position: sticky;
    top: 0;
    padding-top: 3em;
    line-height: 1.8;
}

#text-content {
    box-shadow: 0px 0px 30px 20px rgb(189, 189, 217);
}

#text-content h1 {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 3em;
    padding-bottom: 0.7em;
}

#text-content h2 {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 2em;
    padding-bottom: 0.3em;
}

#text-content p {
    font-family: 'Nunito', Verdana, Helvetica, Arial, sans-serif;
    font-size: 1.2em;
}


/** #logo-link handles the home/logo on navbar link tag <a>   **/
#logo-link {
    text-decoration: none;
}