@font-face {
    font-family: 'Nunito';
    src:url(https://static.igem.wiki/teams/5439/fonts/nunito-variablefont-wght.ttf);
}

@font-face {
    font-family: 'Montserrat-bold';
    src:url(https://static.igem.wiki/teams/5439/fonts/montserrat-bold.ttf);
}

@font-face {
    font-family: 'Montserrat-black';
    src:url(https://static.igem.wiki/teams/5439/fonts/montserrat-black.ttf);
}

.main-container {
    width: 100%;
    max-width: none;
}

#header-container {
    background-size: cover; 
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

#header-container::after {
    content: "";
    display: block;
    padding-bottom: 33%;
}

@keyframes glow{
    from{text-shadow:0px 0px 1px #fff,0px 0px 3px #614ad3;}
    to{text-shadow:0px 0px 10px #fff,0px 0px 20px #614ad3;}
}

#header-title {
    font-family: 'Montserrat-black', Verdana, Arial, sans-serif;
    font-size: 2.5em;
    padding-left: 0.1em;
    color: #7975d0;
    animation-name: glow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: font-size 3s ease, padding-left 0.3s ease;
}

#menu-container {
    font-family: 'Nunito', Verdana, Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    padding-left: 20px;
}

#menu-container a {
    text-decoration: none;
    color: rgb(20, 20, 20);
}

#menu-container a:hover {
    text-decoration: none;
    color: #7975d0;
    transition: color 0.3s ease;
}

#titles-container {
    position: sticky;
    top: 0;
    padding-top: 5.5em;
    line-height: 1.35em;
}

#titles-container .subtitle {
    color: rgb(90, 90, 90);
    font-size: 0.9em;
}

#text-content {
    background-color: rgba(255, 255, 255, 0.5); 
    box-shadow: 0px 0px 50px 0px rgb(255, 255, 255);
    padding: 0.5em;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
    overflow-wrap: break-word;
}

#text-content h1 {
    font-family: 'Montserrat-bold', Verdana, Helvetica, Arial, sans-serif;
    font-size: 2em;
    padding-bottom: 0.5em;
    transition: font-size 0.3s ease, padding-left 0.3s ease;
}

#text-content h2 {
    font-family:'Montserrat-bold', Verdana, Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    padding-bottom: 0.3em;
    transition: font-size 0.3s ease, padding-left 0.3s ease;
}

#text-content h3 {
    font-family:'Montserrat-bold', Verdana, Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    padding-bottom: 0.1em;
    transition: font-size 0.3s ease, padding-left 0.3s ease;
}

#text-content p {
    font-family: 'Nunito', Verdana, Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    text-align: justify;
}
#text-content li {
    font-family: 'Nunito', Verdana, Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    text-align: justify;
}

#logo-link {
    text-decoration: none;
}

#main-content-container {
    padding: 0;
}

#footer-title {
    font-size: 2.5em;
}

#footer-subtitle h4 {
    font-size: 1.3em;
}
#footer-subtitle {
    font-size: 0.9em;
}

#simple-content {
    display: block;
}

#pdf-viewer {
    width: 100%;
    height: 600px;
}

#main-content-container a {
    color: black;
}
#main-content-container a:hover {
    color: #7975d0;
    transition: color 0.3s ease;
}

#content-image {
    width: 80%;
    border-color: #b7b4ec;
    border-width: 1px;
    border-style: solid;
    box-shadow: 4px 4px 12px #7975d0;
    transition: width 0.3s ease, height 0.3s ease;
}
#content-image-big {
    width: 95%;
    border-color: #b7b4ec;
    border-width: 1px;
    border-style: solid;
    box-shadow: 4px 4px 12px #7975d0;
    transition: width 0.3s ease, height 0.3s ease;
}
#simple-image {
    width: 95%;
}

#foot-note {
    color: #7975d0;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.01px;
}

.references-container p {
    font-size: 1em !important;
    text-align: left !important;
}

#home-container {
    height: 90vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
#home-bannerImage {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home-image-front {
    position: relative;
    z-index: 2;
    max-width: 120%;
    max-height: 100%;
    object-fit: contain;
}
#home-image-back {
    position: absolute;
    z-index: 1;
    max-width: 120%;
    max-height: 100%;
    object-fit: contain;
}

#home h1 {
    font-family: 'Nunito', Verdana, Helvetica, Arial, sans-serif;
    color: #7975d0;
    font-size: 2.1em;
    font-weight: 700;
    transition: font-size 0.3s ease, padding-left 0.3s ease;
}

#home-simple-image {
    width: 90%;
    transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1), 
    box-shadow 0.6s cubic-bezier(0.25, 0.8, 0.25, 1), 
    transform 0.6s cubic-bezier(0.25, 0.8, 0.25, 1); /* Smooth curve for all transitions */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#home-simple-image:hover {
    width: 95%;
    transform: scale(1.03); /* Gentle scaling */
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
}


@media screen and (min-width: 993px) {
    #header-title {
        font-size: 5em;
        padding-left: 0.8em;
    }
    #text-content h1 {
        font-size: 3em;
    }
    
    #text-content h2 {
        font-size: 2em;
    }
    #main-content-container {
        padding: 3em;
    }
    #text-content {
        background-color: rgba(255, 255, 255, 0.8); 
        box-shadow: 0px 0px 30px 20px rgb(189, 189, 217);
        padding: 3em;
    }
    #simple-content {
        display: flex;
    }
    #content-image {
        width: 45%;
    }
    #content-image-big {
        width: 80%;
    }
    #simple-image {
        width: 80%;
    }
    #home-image-front {
        max-width: 100%;
    }
    #home-image-back {
        max-width: 100%;
    }
    #home h1 {
        font-size: 4em;
    }
    #home-simple-image {
        width: 60%;
    }
    #home-simple-image:hover {
        width: 65%;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    #header-title {
        font-size: 4em;
        padding-left: 0.7em;
    }
    #text-content h1 {
        font-size: 2.5em;
    }
    #text-content h2 {
        font-size: 1.7em;
    }
    #main-content-container {
        padding: 2em;
    }
    #text-content {
        background-color: rgba(255, 255, 255, 0.7); 
        box-shadow: 0px 0px 30px 20px rgb(205, 205, 225);
        padding: 2em;
    }
    #content-image {
        width: 50%;
    }
    #content-image-big {
        width: 85%;
    }
    #simple-image {
        width: 85%;
    }
    #home h1 {
        font-size: 3em;
    }
    #home-simple-image {
        width: 70%;
    }
    #home-simple-image:hover {
        width: 75%;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    #header-title {
        font-size: 3em;
        padding-left: 0.4em;
    }
    #main-content-container {
        padding: 1em;
    }
    #content-image {
        width: 60%;
    }
    #content-image-big {
        width: 90%;
    }
    #home h1 {
        font-size: 2.5em;
    }
    #home-simple-image {
        width: 75%;
    }
    #home-simple-image:hover {
        width: 80%;
    }
}

@media screen and (max-width: 994px) {
    #menu-container {
        display: none;
    }
    #hidden-container {
        display: none;
    }
}