body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.centered-text {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 2em;
    letter-spacing: 0.2em;

    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}