.team-header {
  background-image: url('https://nsf-gov-resources.nsf.gov/styles/hero_small/s3/2023-04/Andromeda_galaxy_h.jpg.webp?VersionId=ax62fO1jAP93s16R6H_jPKVhTfvwH9X4&itok=WSHuusB5'); /* Add your background image URL */
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lead_div {
  text-align: center;
}

.blueblock {
  padding: 2em 0; /* Adjust padding as needed */
}

.quote {
  font-style: italic;
  margin-top: 1em;
}

.card {
  border-radius: 1em; /* Rounded corners */
  overflow: hidden; /* Ensures child elements don't overflow */
}

.member-profile {
  width: 100px; /* Set a fixed size for profile images */
  height: 100px; /* Set a fixed size for profile images */
  object-fit: cover; /* Ensure images fit within the bounds */
}
